.image_align{
    width:"1000px";
     height:"600px";
      margin-left:"200px";
}

.hobbies_title{
    color: #b6350d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
  }

.chess{
    color: rgb(212, 248, 11);
    font-family: sans-serif;
    font-weight: bold;
}