
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h3>Suriya's Portfolio</h3></a>
    <button class="navbar-toggler btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#about" [ngClass]="{'text-white':isActive=='about'}" (click)="scrollPointAbout(aboutpage)">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience" [ngClass]="{'text-white':isActive=='experience'}" (click)="scrollPointExperience(experiencepage)">Experience</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects" [ngClass]="{'text-white':isActive=='projects'}" (click)="scrollPointProjects(projectspage)">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills" [ngClass]="{'text-white':isActive=='skills'}" (click)="scrollPointSkills(skillspage)">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education" [ngClass]="{'text-white':isActive=='education'}" (click)="scrollPointEducation(educationpage)">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hobbies" [ngClass]="{'text-white':isActive=='hobbies'}" (click)="scrollPointHobbies(hobbiespage)">Hobbies</a>
          </li>
          <li class="nav-item" id="contactpage">
            <a class="nav-link" href="#contact" [ngClass]="{'text-white':isActive=='contact'}" (click)="scrollPointContact(contactpage)">Contact</a>
          </li>
      </ul>
      
    </div>
  </nav>


  


<!-- intro is top section-->
<app-intro></app-intro>
<div #aboutpage>
  <app-about></app-about>
</div>
<div #experiencepage>
  <app-experience></app-experience>
</div>

<div #projectspage>
  <app-projects></app-projects>
</div>

<div #skillspage>
  <app-skills></app-skills>
</div>

<div #educationpage>
  <app-education></app-education>
</div>
<div #hobbiespage>
  <app-hobbies></app-hobbies>
</div>

  <div #contactpage>
  <app-contact></app-contact>
</div>
