
<div class="container">
    <p class="project_title"> Projects </p>
<div class="card card_align" style="width: 18rem;">
    <img class="card-img-top card-img-top_align" src="../../assets/motivational_3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stock app</h5>
      <p class="card-text">Stock app integrated with API to fetch and display stock data</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Frontend: Angular</li>
      <li class="list-group-item">Backend: Java, Spring Boot</li>
      <li class="list-group-item">Database: Postgres</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Live demo</a>
      <a href="#" class="card-link">Source Code</a>
    </div>
  </div>


  <div class="card card_align" style="width: 18rem;">
    <img class="card-img-top card-img-top_align" src="../../assets/motivational_3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Password Generator</h5>
      <p class="card-text">Generates password based on encryption Key</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Frontend: Angular</li>
      <li class="list-group-item">Backend: Java, Spring Boot</li>
      <li class="list-group-item">Database: Postgres</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Live demo</a>
      <a href="#" class="card-link">Source Code</a>
    </div>
  </div>



  <div class="card card_align" style="width: 18rem;">
    <img class="card-img-top card-img-top_align" src="../../assets/motivational_3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ecommerce app</h5>
      <p class="card-text">FullStack Ecommerce App with sigin/Register</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Frontend: Angular</li>
      <li class="list-group-item">Backend: Java, Spring Boot</li>
      <li class="list-group-item">Database: Postgres</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Live demo</a>
      <a href="#" class="card-link">Source Code</a>
    </div>
  </div>

</div>
