.card_align{
    margin-left: 50px;
}

.card-img-top_align{
    height: 200px;
}

.card {display:inline-block;}

.project_title{
    color: #b6350d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    margin-right: 220px;
  }

  .projects{
    margin-left: 150px;
    margin-left: 150px;
  }
