
@keyframes rotate-circle {
    0% {
      border-color: #ffffff;
    }

    50% {
      border-color: #a199ee; 
    }

    100% {
      border-color: #b6350d;
    }
  }
  
 
  .responsive-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    border: 5px solid; 
    animation: rotate-circle 2s infinite; 
    display: flex; 
    align-items: center;
    justify-content: center;
  }
 
  .responsive-circle-container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  .responsive-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
  }
  
  @media only screen and (max-width: 600px) {
    .responsive-circle {
      width: 200px;
      height: 200px;
      border-width: 5px;
    }
    .container_image{
        justify-content: center;
        display: flex;
        height: 200px;
        padding: 10px 10px 0px 10px;
        margin: 0px 0px 0px 0px;
        background-color: #a199ee; 
    }
    .content_center{
        color: #b6350d;
        display: flex;
        font-family: fantasy;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        justify-content: center;
        background-color: #a199ee;
        padding-bottom: 10px;
        padding-top: 50px;
    }
  }
  


.container_image{
    justify-content: center;
    display: flex;
    height: 400px;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    background-color: #a199ee; 
}
.content_center{
    color: #b6350d;
    display: flex;
    font-family: fantasy;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    background-color: #a199ee;
    padding-bottom: 50px;
    padding-top: 100px;
}