.container_image{
    justify-content: center;
    display: flex;
    height: 400px;
    padding: 40px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    background-color: #a199ee; 
}
.content_center{
    color: #b6350d;
    display: flex;
    font-family: fantasy;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    background-color: #a199ee;
    padding-bottom: 100px;
}
.css-shadow {
    position:relative;
    right: 180px;
    width: 310px;
    height: 310px;
    top: 18px;
    z-index: 1;
    align-content: center;
    border-radius: 50%;
    // border: 10px solid #a199ee;
    filter: drop-shadow(0 0 8px #ca9484);
  }
  @media only screen and (max-width: 600px) {
    .css-shadow {
        position:relative;
        right: 90px;
        width: 230px;
        height: 230px;
        top: 18px;
        z-index: 1;
        align-content: center;
        border-radius: 50%;
        // border: 10px solid #a199ee;
        filter: drop-shadow(0 0 8px #ca9484);
      }
      .loader {
        position: relative;
        justify-content: center;
        align-content: center;
        left:150px;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background-color: #a199ee;
        background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
        animation: animate 1.2s linear infinite;
    }
      .loader span {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    }
  }

.loader {
    position: relative;
    justify-content: center;
    align-content: center;
    left:150px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #a199ee;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate 1.2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader span:nth-child(3) {
    filter: blur(25px);
}

.loader span:nth-child(4) {
    filter: blur(50px);
}

.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #a199ee;
    border: solid rgb(255, 255, 255) 10px;
    border-radius: 50%;
}