<div class="skills_page">
  <p class="skills_title"> Skills </p>
 <div class="row d-flex justify-content-center">
  <div class="col-md-6">
      <div class="progress blue">
        
        <span class="progress-left">
                          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
                          <span class="progress-bar"></span>
        </span>
        <div class="progress-value"> Angular</div>
      </div>
  
        <div class="progress red">
          <span class="progress-left">
                          <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
                          <span class="progress-bar"></span>
          </span>
          <div class="progress-value">SpringBoot</div>
        </div>

        <div class="progress blue">
          <span class="progress-left">
                          <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
                          <span class="progress-bar"></span>
          </span>
          <div class="progress-value">Java</div>
        </div>

  </div>
</div>

 <div class="row d-flex justify-content-center">

  <div class="col-md-6">
    
      <div class="progress blue">
        
        <span class="progress-left">
                          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
                          <span class="progress-bar"></span>
        </span>
        <div class="progress-value">JavaScript</div>
      </div>
        <div class="progress other_red">
          <span class="progress-left">
                          <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
                          <span class="progress-bar"></span>
          </span>
          <div class="progress-value">postgres</div>
        </div>

        <div class="progress other_blue">
          <span class="progress-left">
                          <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
                          <span class="progress-bar"></span>
          </span>
          <div class="progress-value">Python</div>
        </div>

  </div>
</div>
</div>

