<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">



<div class="section" id="education">
    <div class="container cc-education">
        <p class="education_title">Education</p>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2019</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              
               <h4 class="category">Rajalakshmi Institute Of Technology
               </h4>
               <ul>
                    <li>Completed B.E in Mechanical Engineering with <b>7.76 CGPA</b>.</li>

             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2015</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
            
               <h4 class="category">JaiGopal Garodia Vivekananda Vidhyalaya
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of science, mathematics, and Computer Science
                                  </li>
                                  <li>
                                    Started Programming in <b>C,C++</b> 
                                  </li>
                                  <li>
                                      Completed my high school with<b> 93.66%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-light" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2013</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
             
               <h4 class="category">Shri Krishnaswamy Matriculation School
               </h4>
               <ul>
                <li>In Secondary school studied Maths , English , Science, Social Science and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>94%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>