h4{
    color:#0bb324;
font-size: 20px;
margin-bottom: 10px;
margin-top:2px;
}
.course_title{
    color:#066d96;
font-size: 20px;
margin-bottom: 10px;
margin-top:2px;
}
li{
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    font-size: 30px;
    font-weight: 300;
}
#education{
    margin-top:50px;
    margin-bottom: 50px;
}
.education_title{
    color: #b6350d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.cc-education .h5 {
    margin-bottom: 0;
  }
  
  .cc-education .cc-education-header {
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 40px;
    text-align: center;
    color: rgba(238, 59, 4, 0.87);
    font-family: Bradley Hand, cursive;
    font-weight: bold;
  }
