
   <div class="container">
    <div class="row">
        <div class="col-md-6">
                <div class="about_block">
                  <h1 class="display-4">About:</h1>
                  <p class="lead">Executive-Presales working in developing Angular, Java/Spring Boot based web applications.</p>
                  <p class="lead">Full Stack Developer with more than 3+ years of experience</p>
                  <p class="lead">Good problem solver with a continuos learning attitude</p>
                  <p class="lead">Have good understanding of TypeScript/JavaScript, Angular, Java, SpringBoot, Bootstrap and PostegreSQL</p>
                </div>
            
        </div>
        <div class="col-md-6">
            
                <div class="basic_info_block">
                  <h1 class="display-4">Basic Information:</h1>
                  <p class="lead">Date Of Birth: 16.10.1997</p>
                  <p class="lead">EMAIL: suriyaganesh97@gmail.com</p>
                  <p class="lead">ph:7538886825</p>
                  <p class="lead">ADDRESS: No 67,
                      Melapalayam south car street,
                      Ambasamudram 
                      Tirunelveli 627401</p>
                      <p class="lead">Languages Known: Tamil,English</p>
                </div>
             
        </div>
    </div>
</div>