
   <div class="container">
    <div class="row">
        <div class="col-md-6">
          <ul>
                <div class="about_block">
                  <h1 class="display-4">About:</h1>
                  <li class="lead text-primary"><p>
                  Executive-Presales working in developing Angular, Java/Spring Boot based web applications.
                </p>
                </li>
                <li class="lead text-primary"><p>
                  Full Stack Developer with more than 3+ years of experience</p>
                </li>
                <li class="lead text-primary"><p>
                  Have good understanding of TypeScript/JavaScript, Angular, Java, SpringBoot, Bootstrap and PostegreSQL</p>
                </li>
                <li class="lead text-primary"><p>
                  Good problem solver with a continuos learning attitude</p>
                </li>
                </div>
              </ul>
            
        </div>
        <div class="col-md-6">
            
                <div class="basic_info_block">
                  <h1 class="display-4">Basic Information:</h1>
                  <p class="lead text-primary">Date Of Birth: 16.10.1997</p>
                  <p class="lead text-primary">EMAIL: suriyaganesh97@gmail.com</p>
                  <p class="lead text-primary">ph:7538886825</p>
                  <p class="lead text-primary">ADDRESS: No 67,
                      Melapalayam south car street,
                      Ambasamudram 
                      Tirunelveli 627401</p>
                  <p class="lead  text-primary">Languages Known: Tamil,English</p>

                </div>
             
        </div>
    </div>
</div>