<p>about works!</p>
About
Software Developer with 2.5+ years of experience
Worked with Software Development Life Cycle(SDLC) and agile methodologies
Expertise in Angular 2+ All versions, React, Javascript, Node JS and UI with Responsive Designs
Have good understanding of Python, Jquery, Bootstrap, MongoDB, Firebase, and MYSQL
Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.

Basic Information
DATE OF BIRTH:
July 03, 1997
EMAIL:
mehulkothari05@gmail.com
PHONE:
+91 9974990993
ADDRESS:
D-101,Trishla Appartment,near sakar school,new cg chandkheda,Ahmedabad,382424
LANGUAGE:
Hindi, English