<div class="experience">
<p class="work_title"> Work Experience </p>

  <!-- Section: Timeline -->
<section class="py-5">
    <ul class="timeline-with-icons">
      <li class="timeline-item mb-5">
        <span class="timeline-icon">
          <i class="fas fa-rocket text-primary fa-sm fa-fw"></i>
        </span>
  
        <h4 class="fw-bold">Profinch</h4>
        <h5 class="fw-bold">PreSales Consultant</h5>
        <p class="text-muted mb-2 fw-bold">Feb 2022 -  Present</p>
        <p class="text-muted">
            Working in developing full stack web applications in Angular, Spring Boot and Postgres.Executive-Presales working in developing full stack web applications in Angular, Spring Boot and Postgres.
        </p>
      </li>
  
      <li class="timeline-item mb-5">
  
        <span class="timeline-icon">
          <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
        </span>
        <h4 class="fw-bold">Tata Consultancy Services(TCS)</h4>
        <h5 class="fw-bold">System Engineer</h5>
        <p class="text-muted mb-2 fw-bold">October 2019-Feb 2022</p>
        <p class="text-muted">
            Worked as Full Stack Developer in TCS for HP(a Fortune 500) US ecommerce project, primarily in HTML, CSS, JavaScript and Java.
            Technical Analysis and Framing Complex SQL Queries.
        </p>
      </li>
  
      
  
      
    </ul>
  </section>
  <!-- Section: Timeline -->
</div>